<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/index.css">
  <title>Image Metadata Management System</title>
</head>

<body>
  <div class="form">
			<h1 style="color:rgba(0,0,128,0.8); font-weight: lighter;" class="login"><b>Login</b></h1>
			<%= msgTop%>
			<form method="post" action="/item/auth">
				<label for="name">User Name:</label>
				<input type="text" name="name"><br>
				<h4 style="font-weight: lighter; color: #242323; margin: 0px;">*case sensitive</h4>
				<label for="name">Password:</label> &nbsp&nbsp
				<input type="password" name="prop"><br><br>
				<button class="btn-submit" type="submit">Login</button>
			</form>
			<br>
			<br>
			<h1 style="color:rgba(0,0,128,0.8); font-weight: lighter;" class="add"><b>New User Registration</b></h1>
			<%= msg%>
			<form method="post" action="/item/addUser">
				<label for="name">User Name:</label>
				<input type="text" name="name" placeholder="Eg: johnathan-wick"><br>
				<br>
				<label for="name">Password:</label> &nbsp&nbsp
				<input type="password" name="pass"><br><br>
				<button class="btn-submit" type="submit">Sign-Up</button>
			</form>
		</div>
</body>

</html>